<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PHP 5.3 for OS X 10.6 as binary package</title>
</head>
<body>
<h1> PHP 5.3 for OS X 10.6 as binary package</h1>
<h2>
One Line Installation
</h2>
<code>
 curl -s http://php-osx.liip.ch/install.sh | bash -
</code>
<p>
It will ask you for your password. We install the packager in /usr/local/packer and PHP into 
/usr/local/php5 and for this, we need your password. We don't do anything bad with it.
</p>
<h2>(Alternative) Installation by "hand" </h2>
<p>
If you don't trust us, here's the code of install.sh, which you can run by yourself (instead of the one-liner above):
</p>
<pre>
curl -s -o /tmp/packager.tgz http://php-osx.liip.ch/packager/packager.tgz
sudo tar -C /  -xzf /tmp/packager.tgz
sudo /usr/local/packager/packager.py install tools-frontenddev 
</pre> 
<p>
If you already have installed the packager and just want to update the PHP package, you can do it with
the following line.
</p>
<pre>
sudo /usr/local/packager/packager.py install tools-frontenddev 
</pre> 


<h2>Latest release</h2><li>
